.radTimeTableCss_SiteBmfBovespa caption
{
    display: none;
}

.radTimeTableCss_SiteBmfBovespa
{
    cursor: default;
}

.radTimeTableCss_SiteBmfBovespa td
{
    border: 0;
    margin: 0;
    padding: 0;
}

.radTimeTableCss_SiteBmfBovespa td + td
{
    /*padding: 0; border-left: 1px solid #b0b0b0;*/
}

.radHeaderCss_SiteBmfBovespa, th.radTimeOverCss_SiteBmfBovespa
{

    padding: 0;
}

.radTimeTableCss_SiteBmfBovespa a
{
    display: block;
    text-decoration: none;
    cursor: hand;
    cursor: pointer;
    padding: 0;
}

.radItemCss_SiteBmfBovespa a, .radAlternatingItemCss_SiteBmfBovespa a
{
}

.radTimeOverCss_SiteBmfBovespa a
{
}

.radFooterCss_SiteBmfBovespa
{
    /*color: #666; background: white url(Img/calendarWrapperBg.gif) left bottom repeat-x; 	padding-left: 8px !important; height: 18px;*/
}

.pickerWrapper_SiteBmfBovespa table
{
    
}

.pickerWrapper_SiteBmfBovespa table
{
    border: 0;
    padding: 0;
    margin: 0;
}

.pickerWrapper_SiteBmfBovespa td
{
    border: 0;
    padding: 0;
    margin: 0;
}
.pickerWrapper_SiteBmfBovespa
{
    vertical-align: middle;
    float: left;
}

.pickerWrapper_SiteBmfBovespa .radInput_SiteBmfBovespa
{
    vertical-align: baseline;
}

.pickerWrapper_SiteBmfBovespa .inputCell
{
    padding: 0;
    _padding: 0;
}
* + html .pickerWrapper_SiteBmfBovespa .inputCell
{
    padding: 0;
}

.pickerWrapper_SiteBmfBovespa td.inputCell
{
    padding: 0;
    _padding: 0;
}
* + html .pickerWrapper_SiteBmfBovespa td.inputCell
{
    padding: 0;
}

.radPopupImage_SiteBmfBovespa
{
    position: relative;
    outline: none;
    _position: static;
    margin-bottom: 0;
}
* + html .radPopupImage_SiteBmfBovespa
{
    position: static;
}

.radPopupImage_SiteBmfBovespa img
{
    vertical-align: middle;
    margin: 0;
    border: 0;
    width:48px;
    height:48px;
    max-width:48px;
}

* + html .radPopupImage_SiteBmfBovespa img
{
    margin-top: 0;
}

.radDisabled_SiteBmfBovespa img
{
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}
img.radPopupImage_SiteBmfBovespa {width:100%; height:100%;}
input.radEnabledCss_SiteBmfBovespa, input.radHoverCss_SiteBmfBovespa, input.radFocusedCss_SiteBmfBovespa {width:100%; height:36px;}
